<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="M-139.196.55.11-guest_-nttbl" connectionString="Server=139.196.55.11;User=guest_;Password=11111111;Database=nttbl; Charset=utf8; Pooling=true; Max Pool Size=16;" />
    <add name="M-139.196.55.11-guest_-" connectionString="Server=139.196.55.11; User=guest_;Password=11111111;Database=;Charset=utf8; Pooling=true; Max Pool Size=16;" />
    <add name="O-192.168.1.99-SYSTEM-ORCL" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.99)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=SYSTEM;Password=ORCL"/>
  </connectionStrings>
</configuration>