<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MY-139.196.55.11-guest_-nttbl" connectionString="Server=139.196.55.11;User=guest_;Password=11111111;Database=nttbl; Charset=utf8; Pooling=true; Max Pool Size=16;" />
    <add name="MY-139.196.55.11-guest_-" connectionString="Server=139.196.55.11; User=guest_;Password=11111111;Database=;Charset=utf8; Pooling=true; Max Pool Size=16;" />
    <add name="MY-192.168.1.99-guest_-" connectionString="Server=192.168.1.99; User=guest_;Password=11111111;Database=;Charset=utf8; Pooling=true; Max Pool Size=16;" />
    <add name="MY-127.0.0.1-guest_-" connectionString="Server=127.0.0.1; User=guest_;Password=11111111;Database=;Charset=utf8; Pooling=true; Max Pool Size=16;" />
    <add name="ORA-192.168.1.99-SYSTEM-ORCL" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.99)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=SYSTEM;Password=ORCL"/>
    <add name="ORA-192.168.1.99-SYSTEM-ORCL-2" connectionString="Data Source=ORCL;User ID=SYSTEM;Password=ORCL"/>
  </connectionStrings>
</configuration>