<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="M-127.0.0.1-guest_-nttbl" connectionString="Server=139.196.55.11;User=guest_;Password=11111111;Database=nttbl; Charset=utf8; Pooling=true; Max Pool Size=16;" />
    <add name="M-127.0.0.1-guest_-" connectionString="Server=139.196.55.11; User=guest_;Password=11111111;;Charset=utf8; Pooling=true; Max Pool Size=16;" />
  </connectionStrings>
</configuration>